header {
    background: #bbbbbb;
    padding: 5px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 100px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:black;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

#banner {
    width: 100%;
    margin-top: 30px;
    border-radius: 20px;
}

.Principal {
    background: #CCCCCC;
    padding: 30px;
    border-radius: 20px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
   font-size: 20px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.atendimento {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-top: 15%;
}

.imagembeneficios {
    width: 40%;
    border-radius: 10px;
    
}