header {
    background: #bbbbbb;
    padding: 10px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color:black;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color : #C78C19;
    text-decoration: underline;
}

.Produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;

}

.Produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; 
    border: 2px solid black;
    border-radius: 30px;
}   

.Produtos li:hover {
    border-color: #C78C19;
}

.Produtos li:active {
    border-color: #088C19;
}

.Produtos li:hover h2 {
    font-size: 34px;
}

.Produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descriçao {
    font-size: 18px;
    margin-top: 10px;
}

.produto-preço {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center ;
    background: url("Pag.Beneficios/bg.jpg");
    padding: 20px 0px;
}

.copyright {
    color: white;
    font-size: 13px;
    margin: 20px 0px; 
}

main {
    width: 950px;
    margin: 0 auto;
}

form {
    margin: 40px 0; 
}

form label, form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display:inline-block;
    margin: 0 0 20px;
    padding: 10px 15px;
    width: 50%;
}

.checkbox {
    margin: 20px 0px;
}